.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/
venv/

# libreoffice
.~lock.*

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
